:root {
  --clr-primary: #132241;
  --clr-accent: #0388c1;

  --clr-neutral-100: #fff;
  --clr-neutral-300: #959595;
}

/* Reset  */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img{
  object-fit: cover;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

h1{
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h2{
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  margin: 1rem 0;
}

h3{
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1;
  margin: 1.5rem 0;
}

body {
  font-family: "Poppins", sans-serif;
}

main{
  /* padding: 0 5rem; */
  max-width: 90rem;
  margin: 0 auto;
}

article{
  position: relative;
}


.padding--global{
  padding: 0 5rem;
}

figure{
  margin: 3rem 0;
}
figcaption{
  margin-left: auto;
}

.navbar {
  position: relative;
  height: 5rem;
  background-color: var(--clr-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  border-bottom: 0.2rem solid var(--clr-accent);
}

.nav--list {
  color: var(--clr-neutral-100);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.navbar-decor{
  position: absolute;
  top: calc(100% + 0.2rem);
  right: 0%;
}


.date_container{
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.blog-content{
  /* overflow: hidden; */
}

.header_blog-content{
  position: relative;
  margin: 3rem 0;
  padding-top: 2rem;
  padding-bottom: 5rem;
}



.main_article--text{
  /* background-color: var(--clr-accent); */
  padding: 2rem 0;
  color: var(--clr-neutral-100);
  font-size: 2rem;
}

.bg-coba{
  width: 100vw ;
  height: 50%;
  position: absolute;
  right: 50%;
  bottom: 0%;
  background-color: var(--clr-accent);
  z-index: -10;
  transform: translate(calc(50% - 0.6rem), 0);
}

.bg-coba::before{
  position: absolute;
  content: '';
  background-color: var(--clr-primary);
  width: 10em;
  height: 10em;
  bottom: 0%;
  right: 0%;
}

.bg-coba::after{
  position: absolute;
  content: '';
  background-color: var(--clr-primary);
  width: 10em;
  height: 10em;
  bottom: calc(0% + 10em);
  right: calc(0% + 10em);
}

.main_article--text p{
  max-width: 60%;
}


.small--text {
  color: var(--clr-neutral-300);
}

.blog-content_body{
  font-family: "Roboto Serif", serif;
  line-height: 1.5;
  margin: 1rem 0;
  font-size: 1.2rem;
  margin: 2rem 0;
  max-width: 50%;
}


footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  position: relative;
  height: 10rem;
  margin-top: 20rem;
  background-color: var(--clr-primary);
}

.decor--footer{
  position: absolute;
  bottom: 0%;
  z-index: -1;
}

